@import "Normalize.css";
/* FONTS */
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    src: local("Gilroy"),
    url("../fonts/gilroy-medium.woff2") format("woff2"),
    url("../fonts/gilroy-medium.woff") format("woff");
}
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    src: local("Gilroy"),
    url("../fonts/gilroy-bold.woff2") format("woff2"),
    url("../fonts/gilroy-bold.woff") format("woff");
}
/* /FONTS */
/* COMMON */
body {
    font-family: Gilroy, sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
[class*="__container"] {
    max-width: 975px;
    margin: 0 auto;
    padding: 0 15px;
}
/* /COMMON */

/* HEADER */
.header {
}
.header__container {
}
.header__menu {
}
/*==============================================*/
.menu {
}
.menu__list {
    display: flex;
    justify-content: space-between;
    min-height: 88px;
    align-items: center;
}
.menu__item {
}
.menu__link {
    color:  #828282;
    transition: color 0.3s;
}
.menu__link:hover {
    color:  #070707;
}
/* /HEADER */

/* PERSON */
.person {
    padding: 40px 0 105px 0;
}
.person__container {
}
.person__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.person__title {
    flex: 0 1 125px;
    font-size: 47px;
    line-height: 59px;
}
.person__text {
    flex: 0 1 155px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    line-height: 22px;
}
.person__switch {
    flex: 0 1 auto;
    text-align: end;
}
.switch__body {
    writing-mode: tb-rl;
    display: inline-block;
    transform: rotate(180deg);
}
.person__image {
}
.person__image img {
    width: 100%;
}
/*==============================================*/
.switch {
}
.switch__button {
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}
.switch__button_active {
    color:  #070707;
}
.switch__button_ru {
}
.switch__button_eng {
}
/* /PERSON */