@import "Normalize.css";
/* FONTS */
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Gilroy"),
    url("../fonts/gilroy-medium.woff2") format("woff2"),
    url("../fonts/gilroy-medium.woff") format("woff");
}
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Gilroy"),
    url("../fonts/gilroy-bold.woff2") format("woff2"),
    url("../fonts/gilroy-bold.woff") format("woff");
}
/* /FONTS */
/* COMMON */
body {
    font-family: Gilroy, sans-serif;
    font-weight: 700;
    font-size: 18px;
}
body._lock {
    overflow: hidden;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.section-title {
    text-align: center;
    font-size: 34px;
}
.section-subtitle {
    text-align: center;
    font-weight: 500;
}
[class*="__container"] {
    max-width: 975px;
    margin: 0 auto;
    padding: 0 15px;
}

/* TABLET */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}
/* MOBILE  */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }

}
/* MOBILE SMALL */
@media (max-width: 479.98px) {

}
/*-----------------------------*/
/* /COMMON */

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    min-height: 88px;
}
.header__container {
    position: relative;
}
.header__menu {
}
/*==============================================*/
.menu {
}
.menu__body {
    position: relative;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
}
.menu__item {
}
.menu__item:last-child {
    margin: 0;
}
.menu__link {
    color:  #828282;
    transition: color 0.3s;
}
.menu__link:hover {
    color:  #070707;
}
.icon-menu {
    display: none;
}
.header__switch {
    position: absolute;
    display: none;
}
.header__switch > .switch__body {
    transform: rotate(0deg);
}
@media (max-width: 767.98px) {
    .icon-menu {
        display: block;
        right: 15px;
        top: 75px;
        position: absolute;
        width: 33px;
        height: 19px;
        cursor: pointer;
        z-index: 51;
    }

    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        left: 0;
        position: absolute;
        height: 20%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000;
    }

    .icon-menu::before,
    .icon-menu::after {
        content: "";
    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: 50%;
        transform: scale(1) translate(0, -50%);
    }
    .icon-menu._active span{
        transform: scale(0) translate(0,-50%);
    }
    .icon-menu._active::before,
    .icon-menu._active::after {
        background-color: #828282;
    }
    .icon-menu._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }
    .icon-menu._active::after {
        top: 50%;
        transform: rotate(45deg) translate(0, -50%);
    }
    .header__menu {
        background-color: #fff;
        z-index: 50;
        position: fixed;
        left: -100%;
        top: 49px;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .menu__list {
        flex-direction: column;
        justify-content: normal;
        align-items: flex-start;
    }

    .menu__list > .menu__item {
        margin: 0 0 68px 0;
    }

    .menu__list > .menu__item:last-child {
        margin: 0;
    }
    .header__switch {
        display: block;
        position: absolute;
        bottom: 55px;
        right: 15px;
        z-index: 50;
        font-size: 34px;
        line-height: 42px;
    }
    .menu__link {
        font-size: 34px;
        line-height: 42px;
    }
    .menu {
        padding: 0 0 0 26px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu._active::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        /* Высота header */
        height: 52px;
        /* /Высота header */
        background-color: #fff;
        z-index: 50;
    }
    .menu._active {
        left: 0;
    }
}
/* /HEADER */

/* PERSON */
.person {
    padding: 128px 0 105px 0;
}
.person__container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.person__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 100%;
}
.person__title {
    max-width: 125px;
    flex: 0 1 auto;
    font-size: 47px;
    line-height: 59px;
}
.person__text {
    max-width: 155px;
    flex: 0 1 auto;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    line-height: 22px;
}
.person__switch {
    flex: 0 1 auto;
    text-align: end;
}
.switch__body {
    writing-mode: tb-rl;
    display: inline-block;
    transform: rotate(180deg);
}
.person__image {
    flex: 1 1 auto;
}
.person__image img {
    width: 100%;
}
@media (max-width: 767.98px) {
    .person {
        padding: 65px 0 83px 0;
    }
    .person__title {
        flex: 0 1 auto;
        margin: 0 0 23px 0;
    }
    .person__text {
        flex: 0 1 auto;
        margin: 0 0 36px 0;
    }
    .person__content {
        flex-direction: column;
        align-items: flex-start;
    }
    .person__switch {
        display: none;
    }
}
/*==============================================*/
.switch {
}
.switch__button {
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}
@media (max-width: 767.98px) {
    .switch__button {
        font-size: 32px;
        line-height: 44px;
    }
}
.switch__button_active {
    color:  #070707;
}
.switch__button_ru {
}
.switch__button_eng {
}
/* /PERSON */

/* ABOUT-ME */
.about-me {
    background-color: #F6F6F6;
    padding: 120px 0 107px 0;
}
.about-me__content {
    margin: 0 auto;
    max-width: 465px;
    text-align: center;
}
.about-me__container {
}
.about-me__title {
    margin-bottom: 18px;
}
.about-me__text {

}
.about-me__paragraph {
    font-weight: 500;
    margin: 0 0 50px 0;
}
.about-me__paragraph:last-child {
    margin: 0;
}
@media (max-width: 767.98px) {
    .about-me {
        padding: 80px 0 75px 0;
    }
}
/* /ABOUT-ME */
/* SKILLS */
.skills {
    padding: 91px 0 110px 0;
}
.skills__container {
}
.skills__title {
    margin-bottom: 67px;
}
.skills__subtitle {
    margin-bottom: 83px;
}
.skills__skills-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills__skill-item {
}
@media (max-width: 767.98px) {
    .skills {
        padding: 83px 0 98px 0;
    }
    .skills__skills-group {
        flex-direction: column;
    }
    .skills__skill-item {
        margin-bottom: 80px;
    }
    .skills__skill-item:last-child {
        margin-bottom: 0;
    }
}
/*==============================================*/
.item-skill {
    text-align: center;
    flex: 0 1 165px;
}
.item-skill__icon {
    margin-bottom: 24px;
}
.item-skill__name {
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin-bottom: 40px;
}
.item-skill__skill-progress {
}
/*==============================================*/
.progress-skill {
    display: inline-block;
}
.progress-skill__star,
.progress-skill__star._active {
    display: inline-block;
    width: 22px; height: 20px;
    margin-right: 9px;
}
.progress-skill__star:last-child,
.progress-skill__star._active:last-child {
    margin-right: 0;
}

.progress-skill__star {
    background: url('../img/css_sprites.png') -52px -10px;
}
.progress-skill__star._active {
    background: url('../img/css_sprites.png') -10px -10px
}
/* /SKILLS */

/* PORTFOLIO */
.portfolio {
    background-color: #F6F6F6;
    padding: 112px 0 95px 0;
}
.portfolio__container {
}
.portfolio__title {
    margin-bottom: 47px;
}
.portfolio__item {
    text-align: center;
    margin: 0 0 100px 0;
}
.portfolio__item:last-child {
    margin: 0 0 0 0;
}
.portfolio__image {
    margin-bottom: 45px;
}
.portfolio__image img {
    width: 100%;
}
.portfolio__link {
    text-decoration: underline;
    font-weight: 500;
    line-height: 22px;
    color: #070707;
    transition: color 0.3s ease 0s;
}
.portfolio__link:hover {
    color: #8d7c7c;
}
@media (max-width: 767.98px) {
    .portfolio {
        padding: 81px 0 80px 0;
    }
}
/* /PORTFOLIO */

/* FOOTER */
.footer {
    padding: 114px 0 123px 0;
}
.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__title {
    margin-bottom: 20px;
}
.footer__subtitle {
    max-width: 275px;
    margin-bottom: 30px;
}
.footer__button {
    width: 180px;
    height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background-color: #070707;
    border-radius: 30px;
    color: #fff;
    margin-bottom: 85px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease 0s;
}
.footer__button:hover {
    opacity: .7;
}
.footer__social {
    margin-bottom: 45px;
}
.footer__text {
    font-weight: 500;
    font-size: 14px;
    color: #828282;
    text-align: center;
}
.social {
    display: flex;
    justify-content: space-between;
}
.social__link {
    display: block;
    width: 41px;
    height: 41px;
    margin-right: 65px;
}
.social__link:last-child {
    margin-right: 0;
}
.social__link_linkedin {
    background: url('../img/social_sprites.png') -78px -10px;
}
.social__link_inst {
    background: url('../img/social_sprites.png') -139px -10px;
}
.social__link_behance {
    background: url('../img/social_sprites.png') -10px -79px;
}
.social__link_dribble {
    width: 48px;
    height: 49px;
    background: url('../img/social_sprites.png') -10px -10px;
}
@media (max-width: 767.98px) {
    .footer {
        padding: 82px 0 90px 0;
    }
}
@media (max-width: 479.98px) {
    .social,
    .footer__container,
    .footer__button{
        width: 100%;
    }
    .social__link {
        margin-right: 0;
    }
}

/* /FOOTER */